.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    background-color: #F6F6F6;
    border-radius: 25px;
    padding: 30px 0;
  
    .card-gallery {
        max-width: 360px;
        height: 360px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;

        figure{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative;
            margin: 0;
            border-radius: 15px;

            img{
                width: auto;
                height: 360px;
                object-fit: cover;
                border-radius: 25px;
            }
        
            figcaption{
                position: absolute;
                margin: 10px;
                width: 200px;
                height: auto;
                text-align: left;
                color: white;
            }
        }
    }
  
    @media screen and (max-width: 425px) {
        
        flex-direction: column;
        text-align: center;
        background-color: inherit;

        .card-gallery {
        max-width: 335px;
        margin: 0 auto;
        max-height: 255px;
        }
    }
}